
/* what's the colour of the section titles */

/* .section-header {
    color: seagreen;
}

.section-header h3 {
    color: seagreen;
}

div.section-header h3 {
    color: violet;
} */

/* what's the background colour of the personality section title? */

/* #personality .insane {
    background-color: green;
}

#personality span {
    background-color: blanchedalmond;
}

#personality .so .many .classes .insane {
    background-color: 'red';
}

#personality #what {
    background-color: blueviolet;
} */

